<!DOCTYPE html>
<html>
<head>
	<title>Policy and Q values table</title>
	<!-- 引入Bootstrap樣式 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- 自定義CSS -->
	<style>
		.q-value {
			display: inline-block;
			margin-right: 10px;
			padding: 5px 10px;
			background-color: #e9ecef;
			border: 1px solid #dee2e6;
			border-radius: 3px;
		}

		.q-value-up {
			border-top: none;
		}

		.q-value-down {
			border-bottom: none;
		}

		.q-value-left {
			border-left: none;
		}

		.q-value-right {
			border-right: none;
		}
	</style>
</head>
<body>

	<h2>Policy Table</h2>
	<table class="table table-bordered">
		{% for i in range(n) %}
			<tr>
				{% for j in range(n) %}
					{% if [i, j, 'up'] in policy %}
						<td>&uarr;</td>
					{% elif [i, j, 'down'] in policy %}
						<td>&darr;</td>
					{% elif [i, j, 'left'] in policy %}
						<td>&larr;</td>
					{% elif [i, j, 'right'] in policy %}
						<td>&rarr;</td>
					{% else %}
						<td>-</td>
					{% endif %}
				{% endfor %}
			</tr>
		{% endfor %}
	</table>

	<h2>Q values Table</h2>
        <table class="table table-bordered">
            <tbody>
                {% for i in range(n) %}
                    <tr>
                        {% for j in range(n) %}
                            <td>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">up:</td>
                                            <td>{{ q_values[i*n+j][0] }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">down:</td>
                                            <td>{{ q_values[i*n+j][1] }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">left:</td>
                                            <td>{{ q_values[i*n+j][2] }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">right:</td>
                                            <td>{{ q_values[i*n+j][3] }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

	<!-- 引入Bootstrap的JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
