<!DOCTYPE html>
<html>
<head>
	<title>Policy and Q values table</title>
	<!-- 引入Bootstrap樣式 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- 自定義CSS -->
	<style>
        #grid {
			display: flex;
			flex-wrap: wrap;
			width: 800px;
			height: 800px;
		}
		.square {
            position: relative; /* 使文字定位於格子內 */
			border: 1px solid black;
			width: 100px;
			height: 100px;
			box-sizing: border-box;
		}
        .square span {
            position: absolute;
            top: 50%; /* 垂直置中 */
            left: 50%; /* 水平置中 */
            transform: translate(-50%, -50%); /* 靠左上方定位 */
            font-size: 50px; /* 字體大小設為格子高度的一半 */
        }
		.q-value {
			display: grid;
			margin-right: 10px;
			padding: 5px 10px;
			background-color: #e9ecef;
			border: 1px solid #dee2e6;
			border-radius: 3px;
		}

		.q-value-up {
			border-top: none;
            background-color: green;
		}

		.q-value-down {
			border-bottom: none;
            background-color: red;
		}

		.q-value-left {
			border-left: none;
		}

		.q-value-right {
			border-right: none;
		}
	</style>
</head>
<body>

	<h2>Policy Table</h2>
	<table id="grid">
		{% for i in range(n) %}
			<tr>
				{% for j in range(n) %}
                    {% if [i, j, 'up'] in policy[0] %}
                        {% if (i,j) in obstacles %}
                            <td class="square" style="background-color: gray;"><span>&uarr;</span></td>
                        {% elif i == start[0] and j == start[1] %}
                            <td class="square" style="background-color: green;"><span>&uarr;</span></td>
                        {% elif i == end[0] and j == end[1] %}
                            <td class="square" style="background-color: red;"><span>&uarr;</span></td>
                        {% else %}
                            <td class="square"><span>&uarr;</span></td>
                        {% endif %}
                    {% elif [i, j, 'down'] in policy[0] %}
                        {% if (i,j) in obstacles %}
                            <td class="square" style="background-color: gray;"><span>&darr;</span></td>
                        {% elif i == start[0] and j == start[1] %}
                            <td class="square" style="background-color: green;"><span>&darr;</span></td>
                        {% elif i == end[0] and j == end[1] %}
                            <td class="square" style="background-color: red;"><span>&darr;</span></td>
                        {% else %}
                            <td class="square"><span>&darr;</span></td>
                        {% endif %}
                    {% elif [i, j, 'left'] in policy[0] %}
                        {% if (i,j) in obstacles %}
                            <td class="square" style="background-color: gray;"><span>&larr;</span></td>
                        {% elif i == start[0] and j == start[1] %}
                            <td class="square" style="background-color: green;"><span>&larr;</span></td>
                        {% elif i == end[0] and j == end[1] %}
                            <td class="square" style="background-color: red;"><span>&larr;</span></td>
                        {% else %}
                            <td class="square"><span>&larr;</span></td>
                        {% endif %}
                    {% elif [i, j, 'right'] in policy[0] %}
                        {% if (i,j) in obstacles %}
                            <td class="square" style="background-color: gray;"><span>&rarr;</span></td>
                        {% elif i == start[0] and j == start[1] %}
                            <td class="square" style="background-color: green;"><span>&rarr;</span></td>
                        {% elif i == end[0] and j == end[1] %}
                            <td class="square" style="background-color: red;"><span>&rarr;</span></td>
                        {% else %}
                            <td class="square"><span>&rarr;</span></td>
                        {% endif %}
                    {% else %}
                        {% if (i,j) in obstacles %}
                            <td class="square" style="background-color: gray;"></td>
                        {% elif i == start[0] and j == start[1] %}
                            <td class="square" style="background-color: green;"></td>
                        {% elif i == end[0] and j == end[1] %}
                            <td class="square" style="background-color: red;"></td>
                        {% else %}
                            <td class="square"></td>
                        {% endif %}
                    {% endif %}
				{% endfor %}
			</tr>
		{% endfor %}
	</table>

	<h2>Q values Table</h2>
        <table class="table table-bordered">
            <tbody>
                {% for i in range(n) %}
                    <tr>
                        {% for j in range(n) %}
                            <td>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">up:</td>
                                            <td>{{ q_values[i*n+j][0] }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">down:</td>
                                            <td>{{ q_values[i*n+j][1] }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">left:</td>
                                            <td>{{ q_values[i*n+j][2] }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">right:</td>
                                            <td>{{ q_values[i*n+j][3] }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>start is {{ start }}</div>
        <div>start is {{ start[0] }}</div>
        <div>start is {{ start[1] }}</div>
        <div>start is {{ start[2] }}</div>
        <div>end is {{ end }}</div>
        <div>obstacles is {{ obstacles }}</div>
        <div>policy is {{ policy }}</div>
        <div>grid is {{ grid }}</div>
        <div>q_values is {{ q_values }}</div>
        


	<!-- 引入Bootstrap的JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
